{% load static %}
<html>
  <head>
    <title>
      Voters Club |
      {% block title %}
      {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'votes/bootstrap/css/bootstrap.min.css' %}">
    {% block styles %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
    <br />
    {% block inbtn %}
        <div class="row">
            <div class="col m3">
                <a href="{% url 'votes:index' %}" class="btn">Back to Index</a>
            </div>
        </div>
    {% endblock %}
    <script src="{% static 'votes/bootstrap/js/bootstrap.min.js' %}"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>