{% load static %}
<html>
  <head>
    <title>
      Voters Club |
      {% block title %}
      {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'votes/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'votes/bootstrap/css/bootstrap.css' %}">
    {% block styles %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
    <script src="{% static 'votes/bootstrap/js/bootstrap.min.js' %}"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>