{% extends 'base.html' %}
{% block title %}Candidates{% endblock %}
{% block body %}  
    {% if request.user.is_authenticated %}

    <style>
    body{
      overflow: hidden;
    }

    </style>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Voters Club</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'votes:partylist_list' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'votes:candidates_list' %}">Candidates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'votes:detail_position' %}">Positions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'votes:vote_page' %}">Vote</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <!--<input class="form-control mr-sm-2" type="text" placeholder="Search">-->
          <a class="nav-link" href="{% url 'votes:logout' %}">Logout</a>
        </form>
      </div>
    </nav>

    {% else %}
        <nav class="navbar navbar-inverse navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Voters Club</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li><a class="nav-link" href="{% url 'votes:login' %}" class="btn">Login</a></li>
              &nbsp;&nbsp;&nbsp;
              <li><a class="nav-link" href="{% url 'votes:registration' %}" class="btn">Register</a></li>
            </ul>
          </div>
        </nav>
    {% endif %}


        <div class="jumbotron">
          <h1 class="display-4">{{ partylist.name }}</h1>
          <hr class="my-4"><br>
            <h5 class="display-5"> {{ partylist.description }} </h5> <br><br><br>
            
            <h5>Candidates: <br></h5>

            <div class="row">
                {% for candidate in partylist.partylist.all %}
                <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                  <div class="card-body">
                    <h4 class="card-title">{{ candidate.firstname }} {{ candidate.lastname }}</h4>
                    <p class="card-text"><a href="{% url 'votes:detail_candidate' candidate.id %}">See Details</a></p>
                  </div>
                </div>
                {% endfor %}
            </div>

    {% block inbtn %}{% endblock %}
{% endblock %}

