{% extends 'base.html' %}
{% block title %}Update Candidate{% endblock %}
{% block body %}
<form action="{% url 'votes:update_candidate' form.instance.id %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col m4">
            {{ form }}

            {% if candidate.image %} 
            <img src="{{ candidate.image.url }}" class="card-img-top" style=" width:200px; height: 200px;">
            {% else %}    
                <img src="/votes/media/images/vote_wallpaper.jpg" class="card-img-top" style=" width:200px; height: 200px;">
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col m4">
            <input class="btn" type="submit" value="Update Candidate" />
        </div>
    </div>
</form>
{% endblock %}